*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*login */
.login-page {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 340px;
}
  
  .form-group {
    margin-bottom: 16px;
  }
  
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  margin-bottom: 20px;
  outline: none;
  border-bottom: 2px solid #9ba7b5;
}
.remember-me {
    float: left;
    font-size: 14px;
}
  .forgot-password {
    float: right;
    font-size: 14px;
    text-decoration: none;
    color: #333;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .login-button, .submit-button, .delete-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color:#7da0c5;
    color: rgb(249, 249, 249);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
  }
  
  .login-button:hover {
    background-color: #c4d1df;
    color: #5a9ee7;
  }
/*header */
.header {
  background: none;
  padding: 10px 20px;
  box-shadow: none;
  position: relative; 
  z-index: 1000;
  width: 100%;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #9ba7b5;
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.nav-item {
  padding: 0 15px;
  text-decoration: none;
  color: #9ba7b5;
}

.nav-item:hover{
  text-decoration: underline;
}

/* Body */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.content-container {
  min-height: 100%;
  margin-bottom: -100px;
}
/* homepage */
h1{
  text-align: center;
  color: #5a9ee7;
}
.home-page {
  background: #f4f4f4;
  padding: 20px; 
}

.table-container {
  margin-top: 20px;
  padding: 0 20px;
}

.member-list {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  position: center;
  
}

.member-list th,
.member-list td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.addmemberbutton{
    width: 80%;
    padding: 5px;
    border: none;
    background-color:  #5a9ee7;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 12px;
    margin-top: 8px;
    text-align: center;
}

.submit-button{
  width: 80%;
  padding: 5px;
  border: none;
  background-color:  #5a9ee7;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
}

.edit-button{
  display: inline-block;
  padding: 10px 15px;
  background-color: #5a9ee7;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-align: center;
}


  /*About*/

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 50px;
}

p {
  width: 80%; 
  margin: 0 40px; 
  text-align: justify;
}

.college-photos {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  margin: 0 40px 0 0px; 
}

.college-photos img {
  width: 80%; 
  max-width: 300px; 
  margin-bottom: 10px; 
}

.college-video {
  width: 100%; 
  margin-top: 20px; 
  
}

.college-video video {
  width: 80%; 
  height: auto; 
  display:flex;
  margin: 0 auto;
}

/*New and edit member*/
/* Common Styles for New and Edit Member Forms */
.member-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: none;
  padding: 20px;
  border-radius: 4px;
  width: 340px;
  margin: auto;
}

.member-form h1 {
  text-align: center;
  color: #5a9ee7;
  margin-bottom: 20px;
}

.member-form label {
  display: block;
  margin-top: 10px;
}

.member-form input[type="text"],
.member-form input[type="number"],
.member-form input[type="email"],
.member-form input[type="tel"],
.member-form input[type="address"],
.member-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.member-form input[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #5a9ee7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8px;
}

.member-form input[type="submit"]:hover {
  background-color: #a4c5e9;
}

.member-form input[type="text"]:focus, 
.member-form input[type="number"]:focus,
.member-form input[type="email"]:focus, 
.member-form input[type="tel"]:focus,
.member-form input[type="address"]:focus, 
.member-form textarea:focus {
  outline: none;
  border-bottom: 2px solid #5a9ee7;
}


.member-form input[type="submit"]:hover {
  background-color: #a4c5e9;
}

/* Contact Us*/

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.contact-form label {
  display: block;
  margin-top: auto;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: transparent;
}

.contact-form input[type="submit"] {
  background-color: #5a9ee7; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form input[type="submit"]:hover {
  background-color: #a4c5e9;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  background: none; 
  padding: 10px; 
  width: 340px;
  margin: auto; 
}
.h1 {
  color: #5a9ee7;
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="tel"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: none;
  border-bottom: 2px solid #5a9ee7;
}

.google-map {
  width: 85%;
  height: 90%;
  margin-top: 20px;
  padding-left: 20px;
  border-radius: 4px;
}
  
  /*footer*/
  .site-footer {
    background-color: #9ba7b5;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position:relative; 
    bottom: 0;
    width: 100%;
    height: 100%; 
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  }

  .footer-address,
  .footer-phone,
  .footer-me {
      text-align: center;
      color: #ffffff;
      margin: auto;
  }

  /* Common Button Styles */
.button-common {
  display: inline-block;
  padding: 10px 10px;
  background-color: #5a9ee7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 0px;
  width: auto;
  cursor: pointer;
  font-size: 16px;
  border: none;
  text-align: center;
}

.button-common:hover {
  background-color: #a4c5e9;
}


  /* all screen sizes */
.navbar {
  flex-direction: row;
}

.nav-links {
  flex-direction: row;
  align-items: center;
}

.nav-item {
  padding: 8px 15px; 
}

.main-content,
.table-container,
.home-page {
  padding: 20px; 
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 24px;
}

.addmemberbutton {
  display:inline-block;
  padding: 10px 10px;
  background-color:  #5a9ee7;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 0px;
  width: 12%;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

.member-list {
  width: 100%;
  border-collapse: collapse;
}

.member-list th,
.member-list td {
  padding: 10px;
  border: 1px solid #ccc;
}
.content-container {
  width: 100%;
  margin: auto;
  padding: 0px;
}

.college-photos {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 10px;
}

.college-photos img {
  max-width: 90%;
  height: auto;
  margin: 10px 0; 
}

.college-video {
  margin-top: 20px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.contact-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.contact-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* tablet devices */
@media screen and (max-width: 768px) and (orientation: portrait) {
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    padding: 8px 0; /
  }

  .main-content,
  .table-container,
  .home-page {
    padding: 10px; 
  }

  .newmember-form,
  .contact-form, 
  .login-container{
    width:50%;
  }
}
.contact-form {
  padding: 15px;
}

.addmemberbutton {
  font-size: 16px;
  padding: 8px 15px;
  width:auto;
}

.table-container {
  overflow-x: auto;
}

.member-list th,
.member-list td {
  padding: 8px;
}

/*mobile*/
@media (max-width: 576px) {
  .logo {
    font-size: 1.2rem;
  }
  .login-container,
  .contact-form,
  .newmember-form{
    width: 80%;
    margin: 0 auto;
  }

  .contact-content{
    padding-top: 100px;
  }

    .addmemberbutton {
      font-size: 14px;
      padding: 6px 12px;
      width: auto;
    }
  
    .table-container {
      overflow-x: auto;
    }
  
    .member-list th,
    .member-list td {
      padding: 6px;
    }

    .college-photos {
      display: block;
      text-align: center;
    }
  
    .college-photos img {
      display: inline-block;
  }
  .contact-form {
    padding: 10px;
  }

  .google-map {
    width: 100%;
    max-width: 600px; 
  }

  .google-map iframe {
    width: 100%;
    height: 300px; 
  }
}

.footer{
  width: fit-content;
}